 *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
 }

 
 .task-enter {
     opacity: 0;
     transform: translateY(-10px);
 }

 .task-enter-active {
     opacity: 1;
     transform: translateY(0);
     transition: all 300ms ease-in;
 }

 .task-exit {
     opacity: 1;
 }

 .task-exit-active {
     opacity: 0;
     transition: opacity 300ms ease-out;
 }

